ul.index{
    list-style-type: none;
    margin: 0;
    padding: 0
    overflow hidden; 
}
li.index{
    float: right;
}
li a.index{
    display: block;
    padding: 8px;
}
body.index{

    background-image:url('Studio.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;


    }
b{
    color: green
}
h1.index{
    color:blueviolet;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
    font-size: 3em;

}
footer.index{

    color: aqua;
    margin: 0;
    padding: 0;
    top: 96%;
    left: 0%;
    text-align:bottom;
    position: absolute;
}